@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #d7cdcd;
}

.object-card {
  margin: 7px;
}

.card-image {
  height: 200px;
  padding: 20px;
}

.button {
  margin: 10px;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.bold {
  font-weight: bolder;
}

.form-field {
  padding-bottom: 18px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}
